<div class="col-md-8">

    <h1 class="page-header">
        OoOops!
    </h1>

    <p>
        Error:
        <%= error %> <br> URL:
            <%= url %> <br> Message:
                <%= message %>

    </p>

</div>